.vscode/
.github/
build/
Camera/
logs/
assets/img_with_q/
assets/img_with_q1/
records/
records_auto_buff_big/
records_new/
imgs/
MvSdkLog/
testvideos/
watchdog.sh
records_24/
records_25/
build-debug/
.gdb_history
$(ALLUSERSPROFILE)/
.cache/
patterns/
build_debug/
armor_observer_auxiliary/
Gimbal/
tmp/
*.txt
*.jpg